<div *ngFor="let food of foods;">
    <div>
        {{food._id}}
        <a [routerLink]="['/foods', food._id]">visit</a>
    </div>
</div>

<button (click)="toggleAddForm()" >Add Food</button>

<div *ngIf="addFormVisible;" >
    <form #form>
        <label for="title">Title</label>
        <input type="text" name="" id="title">

        <label for="title">Title</label>
        <input type="text" name="" id="">

        <label for="title">Title</label>
        <input type="text" name="" id="">

        <label for="title">Title</label>
        <input type="text" name="" id="">

        <input type="submit" value="Add">
    </form>
</div>